/*
#aa1f2b
#222852
#cfd8dc
#e5eef6
#798097
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5eef6;
    color: #222852;
}

.agenda {
    background-color: #cfd8dc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vh;
    border-radius: 50px;
}

.dia {
    display: grid;
    width: 30%;
    height: 75%;
    font-size: 2.4rem;  
}

.dia span {
    margin: 1.5rem 0 1.5rem 0;
}

.actualDay {
    background-color: #93969D;
    color: #aa1f2b;
}

.hoursAndCustomers {
    display: flex;
    width: 60%;
    background-color: #93969D;
    color: #aa1f2b;
    font-size: 1.7rem;
    justify-content: space-around;
}

.hours {
    display: grid;
}

.customers {
    display: grid;
} 



.hoursAndCustomers span {
    padding: 0.3rem;
}
